/* Bases */
body{
    background-color: #00060D;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color : white;
}



div{
    display: flex;
    flex : 1;
}

header, footer{
    background-color: #000f20;
}

a{
    color:white;
}

/*Alignement du titre dans le header*/
.titre{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*Alignement du menu dans le header*/
.menu{
    justify-content: right;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-right: 2em;
}

/*Alignement de l'intro*/
.intro{
    justify-content: center;
    text-align: center;
}

/*Alignement du texte à gauche*/
.textegauche{
    align-items: flex-start;
    text-align: right;
}

/*Alignement du texte à droite*/
.textedroite{
    align-items: flex-end;
    text-align: left;
}

/*Flex en colonne*/
.colonne{
    text-align: left;
    flex-direction: column;
}

/*Alignement du menu dans le footer*/
.menufooter{
    justify-content: right;
    margin-top:5em;
}

/*Alignement de la presentation et de la vidéo*/
.video, .presentation{
    justify-content: center;
}

/*Taille des images*/
#tour {
    width:50%;
}

#inhib,#nexus{
    width:25%;
}

/*alignement des textes*/
.tour,.nexus{
    align-items: center;
}

.inhib{
    align-items: stretch;
}

.tour{
    margin-left: 1em;
}

/*Décalage du texte pour la div tour*/
.decalagetexte{
    margin-left: 2em;
}

.monstres{
    flex:2;
}

/*Attribution des couleurs pour la page Monstres*/
.vert{
    color:rgb(77, 170, 77);
}

.rouge{
    color:rgb(199, 81, 81);
}

.bleu{
    color:rgb(83, 151, 214);
}

.blue{
    width: 100%;
}