#box{
    background-color: red;
    height:100px ;
    width: 100px;
    position: relative;
    left : 16px;
    top : 16px;
}

body{
    background-color: rgb(36, 53, 61);
}

.obstacle{
    background-color: black;
    height:100px ;
    width: 300px;
    position: relative;
    
}

#un{
left : 64px;
    top : 64px;
}

#deux{
    left:300px;
    top:300px;
}