*
{
    margin: 0;
    padding : 0;
}

.ft{
    font-family: Helvetica;
    text-align: center;
    font-size: larger;
    color : #FFFFFF;
    padding-top : 20px;
    padding-bottom: 20px;
}


/* Header */
header{
    
    background-color: #6b93b9;
    padding-top : 20px;
    padding-bottom: 20px;
}

/* Body */
body{
    background-color: #36393f;
}
/* Footer */
footer{
    padding-top : 20px;
    padding-bottom: 20px;
    background-color: #6b93b9;
}